<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AI digital frame</title>
    </head>
    <body>
        <h1>This is AI digital frame backend server.</h1>
        <h2>Please input raspberrypi server url in the here to make this server can connect to raspberrypi.</h2>
        <form action="{{ url_for('raspberrypi_url') }}" method="post">
          <label for="raspberrypi_url">Raspberrypi server url:</label>
          <input type="url" id="raspberrypi_url" name="raspberrypi_url">
          <input type="submit" value="Submit">
        </form>
        <p>Raspberrypi server url: <a href="{{ raspberrypi_url }}">{{ raspberrypi_url }}</a></p>
        <h2>API doc:</h2>
        <ol>
          <li>/: GET</li>
            <p>this is root.</p>
          <li>/generate: POST</li>
            <p>generate the img and bgm.</p>
          <li>/config: GET, POST</li>
            <p>there are two methods:</p>
            <ul>
                <li>GET</li>
                    <p>get current config state.</p>
                <li>POST</li>
                    <p>use url param or use json to update server config state.</p>
            </ul>
        </ol>
    </body>
</html>